/* 
    Document   : estiloa
    Created on : Dec 21, 2012, 9:46:54 AM
    Author     : Gerkoon Diseinuak
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

body{
   /* background: bat jarri behar zaio;*/
}

/* div-ak zentratuta*/

#osoa{
    box-shadow: 0 0 32px #E0D01A;
    margin: 100px auto;
    padding: 1px;
    text-align: center;
    width: 400px;
}

#indexForm{
    margin: 100px auto;
    text-align: left;
    width: 255px;
}

label{
    display: block;
    width: 250px;
}

input{
    margin-bottom: 30px;
    width: 250px;
}

.botoia{
    display: block;
    margin-left: 120px;
    width: 135px;
}