/* 
    Document   : estiloa
    Created on : Dec 21, 2012, 9:46:54 AM
    Author     : Gerkoon Diseinuak
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

body{
   /* background: bat jarri behar zaio;*/
}

/* div-ak zentratuta*/

#header{
    background: url("../irudiak/HeaderBackground.png") repeat-x top left;
    height: 40px;
}

#header h1{
    text-indent: -9999px;
    height: 40px;
    width: 134px;
    background: url("../irudiak/logo.png") no-repeat top left;
}

#content{
    height: 1000px;
    overflow: hidden;
}

#osoa{
    box-shadow: 0 0 32px #E0D01A;
    margin: 100px auto;
    padding: 1px;
    text-align: center;
    width: 400px;
}

#indexForm{
    margin: 100px auto;
    text-align: left;
    width: 255px;
}

label{
    display: block;
    width: 250px;
}

input{
    margin-bottom: 30px;
    width: 250px;
}

.botoia{
    display: block;
    margin-left: 120px;
    width: 135px;
}

/* ---------------------- FOOTER ----------------------*/

footer{
    background: #666666;
    height: 1000px;
    
}

#f{
    margin: auto;
    width: 605px;
}

#f_garapena, #f_partehartze{
    float: left;
    padding-top: 55px;
    width: 300px;
}

/*#f_garapena{
    background: url();
}*/

footer h2{
    display:block;
    height: 35px;
    text-indent: -9999px;
}

footer h3{
    display: block;
    height: 100px;
    margin-left: 85px;
    margin-top: 25px;
    text-indent: -9999px;
    
}

h2#garapena{
    background: url("../irudiak/garapena.png") no-repeat top left;
    width: 163px;
}

h2#partehartze{
    background: url("../irudiak/partehartze.png") no-repeat top left;
    width: 190px;
}

h3#gerkoon{
    background: url("../irudiak/gerkoon.png") no-repeat top left;
    width: 100px;
}

h3#zornotza{
    background: url("../irudiak/zornotza.png") no-repeat top left;
    width: 205px;
}

h3#lorak{
    background: url("../irudiak/lorak.png") no-repeat top left;
    width: 205px;
}

h3#gerkoon:hover{
    background: url("../irudiak/gerkoon_hover.png") no-repeat top left;
    width: 100px;
}

h3#zornotza:hover{
    background: url("../irudiak/zornotza_hover.png") no-repeat top left;
    width: 205px;
}

h3#lorak:hover{
    background: url("../irudiak/lorak_hover.png") no-repeat top left;
    width: 205px;
}